{%  if active %}
{% extends 'subscribe_contactmoment.html' %}

{% block content %}
        <div class="container">
         <form action="{{ '/save_contactmoment/' + organization }}" method="post">
             <br>
            Beste ouder,<br><br>
            Hier kan u kiezen of uw zoon/dochter de laptop mag meenemen of dat u de laptop komt ophalen<br><br>
            <input type="radio" name="who-pickup" value="student" onclick="display_contact_table(false);" checked>
            &nbsp;Mijn dochter/zoon krijgt mijn toestemming om de laptop zelf af te halen <br>
             &nbsp;&nbsp;&nbsp;&nbsp;en mee naar huis te nemen op dinsdag 1 september in de voormiddag<br><br>
            <input type="radio" name="who-pickup" value="parent" onclick="display_contact_table(true);">
            &nbsp;Ik haal de laptop af op school en kies een tijdslot<br>
            <div class="student-selected">
                <br><br>
                <button type="submit" class="btn btn-primary">Insturen</button>
            </div>
            <input type="text" name="email_token" value="{{ email_token }}" hidden>
            <input type="text" name="organization" value="{{ organization }}" hidden>
            <input type="text" name="email" value="{{ email }}" hidden>
        </form>
        </div>
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript"> {% include "laptop_pickup/subscribe_contactmoment.js" %}</script>
{% endblock %}
{% else %}
    <h3> Beste ouder, het is niet meer mogelijk om uw keuze te maken.</h3>
    <h3> Neem eventueel contact op met onze school voor meer informatie.</h3>
{%  endif %}