{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <h1>Aanmelden</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.accessToken.label }}<br>
            {{ form.accessToken(size=32) }}<br>
            {% for error in form.accessToken.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
    {{ super() }}
{% endblock %}
